@if (editor) {
  <section class="absolute bottom-0 left-1/2 -translate-x-1/2 bg-white rounded-xl p-4 mb-4 transition opacity-30 hover:opacity-100">
    <button>
      COMPARTILHAR
    </button>
  </section>
}

<section class="p-4 grid gap-4 grid-flow-col grid-cols-{{ maxColumn }}A auto-cols-[minmax(0,24rem)] w-full h-screen" [ngClass]="[profile.theme, profile.color]">
  <div class="col-start-{{ cIndex }}" *ngFor="let i of [].constructor(maxColumn); let cIndex = index">
    @if (profile.avatar.responsive.column == cIndex) {
      <app-avatar class="col-span-{{ cIndex }} row-span-{{ maxRow }}" [avatar]="profile.avatar"></app-avatar>
    }
    @else {
      <div class="mb-4 flex gap-4" *ngFor="let i of [].constructor(maxRow); let rIndex = index">
        @if (getItems(cIndex, rIndex); as items) {
          @for (item of items; track item) {
            <app-item [item]="item"
                      [editor]="editor"
                      class="group w-full col-start-{{ item.responsive.column }} row-start-{{ item.responsive.row }}">
            </app-item>
          }
        }
        @else {
         <!-- {{ cIndex }} - {{ rIndex }} -->
          <br>
        }
      </div>
    }
  </div>
</section>
