@import "tailwindcss";

.card {
  @apply rounded-xl shadow p-2 inline-flex items-center gap-2 overflow-hidden;

  .card-alt {
    @apply z-10 absolute bottom-0 left-0 mx-2 my-2 bg-white text-black rounded-xl p-2 text-sm pointer-events-none;
  }

  .card-photo {
    @apply size-12 rounded inset-0 object-cover pointer-events-none transform transition-all;
  }

  .card-background {
    @apply absolute rounded-xl w-full h-full z-0 pointer-events-none;
  }
}

.dark {
  background: #151515;
  color: #FFF;

  .card {
    background: #252525;
  }
}

.light {
  background: #FFF;
  color: #101010;
}

.square {
  @apply size-58;
}

.poster {
  @apply w-full h-96;
}

.line {
  @apply w-full h-16;
}

.cube {
  @apply size-26;
}

.icon {
  background: none !important;

  @apply size-12 p-0;
}
