@import "tailwindcss";

.card {
  @apply rounded-xl shadow p-4;
}

.dark {
  background: #101010;
  color: #FFF;

  .card {
    background: #252525;
  }
}

.light {
  background: #FFF;
  color: #101010;
}
